nav{
    height: 10%;
    border-bottom: 1px solid #941f1f;
    color: white;
    font-family:Roboto;
    transition: 0.2s;
  }


  .navbar-brand{
    font-weight:bold;
    font-family:'Rubik', sans-serif;
  }

  .navbar-scrolled {
    height: 9%;
    border:none;
    background-color: white;
    transition: 0.2s;
    box-shadow: 0 6px 2px -2px rgba(0,0,0,.2);
  }
  
  span.scrolled{
    color: black;
  }